html, body {
    margin:0px;
    padding:0px;
    border:0px;
    background-color:rgb(195, 227, 76);
    height:100vh;
}

body {
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
}

.wrapper {
    width:80%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-content:center;
}

.btn {
    width:28%;
    height:45%;
    background-color:rgb(217, 180, 111);
    border-color:gray;
}

.text-box {
    width:65%;
    height:45%;
    justify-content:center;
    align-content:center;
    background-color:white;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
}

#main-box-text {
    height:66%;
    width:100%;
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

#text-box-buttons {
    height:34%;
    width:100%;
    display:flex;
    align-content:space-around;
    justify-content:space-around;
}

.text-box-button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    height:20%;
}

.text-box-button:hover,
.text-box-button:focus {
    background: #0053ba;
}

.text-box-button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.text-box-button:active {
    transform: scale(0.99);
}